<div class="container">
  <%= link_to 'Edit', edit_pin_path(@pin) %> |
  <%= link_to 'Back', pins_path %>
</div>
<div class="1container">
  <h3><%= @pin.title %></h3>
  <div id="navbar" class="1collapse">
    <ul class="nav navbar-nav">
      <li class="">
        <p style="width:310px; heigh:310px">
        <% if @pin.image.attached? %>
          <%= link_to image_tag(@pin.image,
          style:"width:300px; heigh:auto"), @pin.image %>
        <% end %>
        </p>
      </li>
      <li><hr /></li>
      <li class="">
        <p style="width:400px; heigh:200px">
          <%= @pin.body %>
        </p>
      </li>
      <li><hr /></li>
      <li class="">
        <p style="width:820px; heigh:auto; border:10; margin:10px; padding:10px">
          <% if @pin.pictures.attached? %>
          <% @pin.pictures.each do |pictere| %>
          <%= link_to image_tag(pictere,
          style:"width:100px; heigh:auto"), pictere %>          <% end %>
          <% end %>
        </p>
      </li>
    </ul>
  </div>
</div>
<div>
  <%= link_to "Edit this pin", edit_pin_path(@pin) %> |
  <%= link_to "Back to pins", pins_path %>

  <%= button_to "Destroy this pin", @pin, method: :delete %>
</div>
<br />
